.normal {
  transition: all .15s;
  padding: 0 1.5em 0 1.5em;
  font-family: inherit;
  font-size: 1.2em;
  text-align: center;
  background: white;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  position: relative;

  height: 50px;
  line-height: 50px - 2 * 1px;
  display: block;
  margin-bottom: 1em;
}

.naked {
  background: none;
  border: 0;
  transition: none;
  padding: 0;
}

.medium {
  composes: normal;
  padding: 0 15px;
  height: 32px;
  line-height: 30px;
  font-weight: 500;
  margin-top: 3px;
}

.large {
  composes: normal;
  margin-top: 5px;
  position: relative;
}
.small {
  composes: normal;
  font-size: 1em;
  position: relative;
}
